*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'ggsans', sans-serif;
}

/* INIZIO HEADER */
.conteiner-header{
    background-color: #3161E0;
    display: flex;
    justify-content: center;
    padding: 20px;
    color: white;
}

.row-header{
    width: 70%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   padding: 30px 0;
}


.content-20 {
    width: 8%;
    padding: 5px;
}
.content-60{
    width: 80%;
    text-align: center;
    padding: 5px;
}

#login{
    display: flex;
    justify-content: center;
    background-color: white;
    padding: 10px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
}

.span-logo{
    margin: 0 15px;
}

/* FINE HEADER */

/* INIZIO MAIN */
/* CONTAINER TITOLO */
.conteiner-titolo{
    width: 100%;
    color: white;
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.first-shared{
    display: flex;
    justify-content: center;
    justify-self: center;
}

.row , .col{
    width: 65%;
}

.col{
    text-align: center;
}

h1{
    margin: 100px 0 30px 0;
    font-size: 45px;
}

.subtitle{
    margin-bottom: 50px;
    line-height: 1.5;
    font-size: 17px;
}

.col-bottoni{
    width: 100%;
    margin-bottom: 200px;
    text-align: center;
}

.bottone{
    border-radius: 30px;
    padding:15px 30px;
    text-decoration: none;
    margin: 100px 20px;
}
.mac{
    background-color: white;
    color: black;
}
.discord{
    background-color: #23272A;
    color: white;
}
/* FINE CONTAINER TITOLO */

/* INIZIO CONTAINER ITEMS */
.conteiner-item{
    margin: 200px 0;
}

.row-due{
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.col-due {
    width: 100%;
}
.img-item{
    width: 90%;
}
.left{
    width: 65%;
}

.right{
    width: 35%;
    padding: 30px;
    margin-left: 40px;
}

h2{
    font-size: 40px;
    line-height: 1.5;
    margin-bottom: 20px;
}
/* FINE CONTAINER ITEMS*/
.grey{
    background-color: gray;
}

/* SECTION conteiner  green  */
.background-due{
    width: 100%;
    height: 1000px;
    background-color: grey;
    display: flex;
    justify-content: center;
    justify-self: center;
    padding-top: 70px;
}

.conteiner-green{
    width: 75%;
    margin: 0 auto;
}

.col-green{
    height: 830px;
    background-color: green;
    border: 1px dashed black;
}
/* FINE container green  */
/* FINE MAIN */

/* INIZIO FOOTER */
.black{
    background-color: black;
    padding-top: 10px;
    border-bottom: 2px solid darkgray;
}
.footer-left{
    width: 40%;
    background-color: rgba(148, 8, 143, 0.735);
}

.footer-right{
    width: calc(60% / 4);
    background-color: rgba(8, 148, 108, 0.735);
    border: 1px dashed white;
}

.conteiner-footer{
    background-color: black;
    width: 100%;
    height: 100px;
    display: flex;
    padding-top: 20px;
}

.row-footer{
    width: 70%;
    margin: 0 auto ;
    display: flex;
    align-self: center;
    justify-content: space-between;
    background-color: aquamarine;
}
.col-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 80px;
    border: 1px dashed black;
}

.content-footer{
    background-color: goldenrod;
    border: 1px dashed black;
    height: 25px;
    padding: 0 5px;
}


/* FINE FOOTER */
